//
   Created by developer on 15-10-26.

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      title Weather Report
      link(rel="styleSheet" href="../bower_components/bootstrap/dist/css/bootstrap.css")

   .container(ng-app="weather", ng-controller="weatherCtl")
      .container-fluid
         .row(style="padding:100px;")
            .dropdown(style="margin-bottom:20px;")
               button.btn.btn-default.dropdown-toggle(type='button',data-toggle='dropdown',aria-haspopup='true',aria-expanded='false')
                  | {{defaultSelect.selectName}}
                  span.caret
               ul.dropdown-menu
                  li
                     a(href='#' ng-repeat="city in City" ng-click ="clickSelect($index)") {{city.name}}
                  li
                  
               button.btn.btn-success(style="float: right;" ng-click="getWeather()") 查询
            table.table.table-bordered
               tr
                  th 日期
                  th 最高气温
                  th 最低气温
                  th 天气
               tr(ng-repeat="date in weatherData")
                  td {{date.date}}
                  td {{date.high}}
                  td {{date.low}}
                  td {{date.weather}}              
                
 

      script(src="../bower_components/jquery/dist/jquery.js")
      script(src="../bower_components/bootstrap/dist/js/bootstrap.js")
      script(src="../bower_components/angular/angular.min.js")
      script(src="../demo/weathers.js")
