//
   Created by developer on 15-10-26.

doctype html
html(lang="en")
   head
      title Weather Report
      link(rel="styleSheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css")
   .container
      .row
         .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
               | Action
               span.caret
            ul.dropdown-menu
               li
                  a(href='#') 北京
               li
                  a(href='#') 上海
               li
                  a(href='#') 深圳
               li
                  a(href='#') 长沙
               li
                  a(href='#') 南京
            button.btn.btn-success 查询
         table.table-bordered
            tr
               th 日期
               th 最高气温
               th 最低气温
               th 天气
            tr
               td
               td
               td
               td
            tr
               td
               td
               td
               td
            tr
               td
               td
               td
               td
            tr
               td
               td
               td
               td
            tr
               td
               td
               td
               td
            tr
               td
               td
               td
               td
            tr
               td
               td
               td
               td

